/*
    phone - 600px
    t-port - 900px
    t-land - 1200px
    b-desk - 1800px+
*/
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Atma', cursive;
  background-color: #444;
  color: #fff;
  padding: 3rem; }

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  backface-visibility: hidden;
  text-align: center; }
  .heading--main {
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-name: moveFromLeft;
    display: block;
    font-size: 6rem;
    letter-spacing: .2rem;
    margin-bottom: 4rem; }
    @media (max-width: 600px) {
      .heading--main {
        font-size: 4rem;
        letter-spacing: .1rem;
        margin-bottom: 2rem; } }
  .heading--sub {
    display: block;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-name: moveFromRight;
    margin-bottom: 2rem;
    font-size: 3rem; }

.heading-flavor {
  font-size: 4rem; }

.u-text-center {
  text-align: center; }

.u-text-h3 {
  font-size: 3rem; }

.u-text-shadow {
  text-shadow: 0 0.3rem 0.6rem #0005; }

.u-box-shadow {
  box-shadow: 2px 1rem 2rem #0005; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table;
    width: 100%; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4.5rem; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4.5rem) / 2); }
    @media (max-width: 600px) {
      .row .col-1-of-2 {
        width: 100%;
        margin-bottom: 3rem; } }
  .row .col-1-of-3 {
    width: calc((100% - 9rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 9rem) / 3) + 4.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 13.5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 13.5rem) / 4) + 4.5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 13.5rem) / 4) + 9rem); }

.header {
  text-align: center;
  animation: fadeIn .8s ease-in;
  margin-bottom: -20rem; }
  .header__slogan {
    font-size: 3rem;
    margin-top: 2rem; }
  .header__logo-image {
    height: 15rem; }

.appeal {
  position: relative;
  height: 70vh; }
  @media (max-width: 900px) {
    .appeal {
      height: 60vh; } }
  @media (max-width: 900px) {
    .appeal .heading {
      width: 70%; } }

.btn {
  text-shadow: none; }
  .btn:visited, .btn:link {
    text-decoration: none;
    padding: .5rem 5rem;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    font-size: 2.5rem; }
  .btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem #00000030; }
    .btn:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 .5rem 1rem #00000030; }
  .btn--white {
    background-color: #fff;
    color: #101010; }
    .btn--white::after {
      content: "";
      background-color: #fff; }
  .btn--green {
    background-color: #1bd741;
    color: #fff; }
    .btn--green::before {
      content: "\f232";
      font-family: "Font Awesome 5 Brands";
      margin-right: 1rem; }
    .btn--green::after {
      content: "";
      background-color: #1bd741; }
  .btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveFromBottom .3s ease-out .7s;
    animation-fill-mode: backwards; }

.card {
  border-radius: 3px;
  background-color: #444;
  box-shadow: 2px 1rem 2rem #0005; }

.composition {
  position: relative; }
  .composition__photos {
    width: 50%;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photos--p1 {
      top: 0;
      left: 0; }
    .composition__photos--p2 {
      top: 2rem;
      right: 0; }
    .composition__photos--p3 {
      top: 10rem;
      left: 30%; }
    .composition__photos:hover {
      z-index: 20;
      transform: scale(1.2);
      outline: 0.1rem solid #fff; }
  .composition:hover .composition__photos:not(:hover) {
    transform: scale(0.8); }

.order {
  font-weight: 600;
  letter-spacing: .1rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 5000; }
  .order i {
    font-size: inherit;
    color: inherit; }

.heading-secondary {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.card-flavor {
  height: 70rem;
  position: relative;
  overflow: hidden; }
  @media (max-width: 900px) {
    .card-flavor {
      height: auto;
      padding-bottom: 2rem; } }
  .card-flavor__heading {
    font-size: 4rem;
    letter-spacing: .2rem;
    padding: 6rem 0 0rem 0;
    text-align: center; }
    @media (max-width: 900px) {
      .card-flavor__heading {
        padding: 3rem 0 0 0; } }
    .card-flavor__heading > span {
      display: block;
      text-align: right; }
    .card-flavor__heading--traditional {
      background-image: linear-gradient(to right, #fffc, #444c), url("../image/cupdog-background.png");
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
    .card-flavor__heading--cupdog {
      padding: 0 4rem; }
    .card-flavor__heading--flavor {
      padding: 0 2rem; }
  .card-flavor__price {
    background-color: #f9ba59;
    box-shadow: 0.2rem 0.1rem 0.5rem #0005;
    font-size: 4rem;
    left: -40rem;
    letter-spacing: .3rem;
    position: absolute;
    text-align: center;
    text-shadow: 0 0.3rem 0.6rem #0005;
    top: 5rem;
    transform: rotate(-40deg);
    width: 100rem; }
    .card-flavor__price--currency {
      font-size: 2.5rem;
      margin-right: 1rem; }
  .card-flavor__ingredients ul {
    list-style: none;
    text-align: center;
    font-size: 3rem;
    letter-spacing: .3rem; }
    .card-flavor__ingredients ul li {
      margin: 0 auto;
      padding: 1rem 0;
      width: 60%; }
    .card-flavor__ingredients ul li:not(:last-child) {
      border-bottom: 0.2rem solid #fff; }

.top {
  background-color: #2b2b2b;
  padding: 20rem 0 3rem 0;
  transform: skewY(3deg) translateY(-20rem); }
  .top > * {
    transform: skewY(-3deg); }

.menu {
  background-color: #2b2b2b;
  padding: 10rem 0;
  transform: skewY(-3deg); }
  .menu > * {
    transform: skewY(3deg); }
  @media (max-width: 900px) {
    .menu {
      padding: 10rem 3rem; } }
