body {
    font-family: 'Atma', cursive;
    background-color: black;
    color: $color-white;
    padding: 3rem;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    backface-visibility: hidden;
    text-align: center;

    &--main {
        animation-duration: 0.8s;
        animation-timing-function: ease-out;
        animation-name: moveFromLeft;
        display: block;
        font-size: 6rem;
        letter-spacing: .2rem;
    }
    
    &--sub {
        display: block;
        animation-duration: 0.8s;
        animation-timing-function: ease-out;
        animation-name: moveFromRight;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    
}
