
.header {
    text-align: center;
    animation: fadeIn .8s ease-in;
    margin-bottom: -20rem;

    &__slogan {
        font-size: 3rem;
        margin-top: 2rem;
    }

    &__logo-image {
        height: 15rem;
    }

}

.appeal {
    position: relative;
    height: 70vh;
    
    @include convert(t-port) {
        height: 60vh;
    };

    & .heading {
        @include convert(t-port) {
            width: 70%;
        };
    }
}