
$color-white: #fff;
$color-white-t80: #fffc;
$color-gray-medium: #444;
$color-gray-dark: #2b2b2b;
$color-gray-dark-tl: #2b2a2a55;
$color-gray-medium-t80: #444c;

$color-red: #b12c02;
$color-yellow: #f9ba59;
$color-green: #1bd741;
$color-shadow: #0005;

$row-max-width: 114rem;
$horizontal-gutter: 4.5rem;
$vertical-gutter: 6rem;